:root {

	--primary-color: #009688;
	--primary-color-light-0: #009687c1;
	--primary-color-light-1: #00968758;
	--primary-color-light-2: #0096872c;

	--secondary-color: #F8ED3C;
	--secondary-color-light-0: #f8ec3cd5;
	--secondary-color-light-1: #f8ec3cb4;
	--secondary-color-light-2: #f8ec3c91;
	--secondary-color-light-3: #f8ec3c5f;
	--secondary-color-light-4: #f8ec3c31;

	--canvas-white: #ffffff;
	--canvas-white-light-0: #ffffffd9;
	--canvas-white-light-1: #ffffffb3;
	--canvas-white-light-2: #ffffff76;

	
	--canvas-black: #000000;
	--canvas-black-light-0: #000000cf;
	--canvas-black-light-1: #000000a0;
	--canvas-black-light-2: #00000074;

	--primary-font-family: 'Roboto', sans-serif;
	--secondary-font-family: 'Roboto Condensed', sans-serif;

	--inactive-color: #AAAAAA;

	--black-color: #000000;
	--black-color-light-0: #000000d4;
	--black-color-light-1: #000000a0;
	--black-color-light-2: #00000080;

    --primary-color-boxshadow: 0px 0px 5px var(--primary-color-light-2);
    --primary-color-boxshadow-light-0: 0px 0px 10px var(--primary-color-light-2);
    --primary-color-boxshadow-light-1: 0px 0px 10px var(--primary-color-light-3);
    --primary-color-boxshadow-light-2: 0px 0px 10px var(--primary-color-light-4);

    --secondary-color-boxshadow: 0px 0px 10px var(--secondary-color);
    --secondary-color-boxshadow-light-0: 0px 0px 5px var(--secondary-color-light-2);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
